<manifest package="com.loopeer.android.librarys.imagegroupview"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true">
        <activity android:name=".activity.UserCameraActivity"/>

        <activity
            android:name=".activity.ImageSwitcherActivity"
            android:launchMode="singleTop"
            android:theme="@style/ImageGroupNoActionBar"/>

        <activity
            android:name=".activity.AlbumActivity"
            android:launchMode="singleTop"
            android:theme="@style/ImageGroupBaseTheme"/>
        <activity
            android:name=".activity.AlbumActivity1"
            android:launchMode="singleTop"
            android:theme="@style/ImageGroupBaseTheme"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>
