<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.loopeer.android.apps.imagegroupview"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ImageGroupApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TestIntentActivity">
            <intent-filter>
                <action android:name="com.loopeer.android.librarys.imagegroupview"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="switcher_error"
                    android:scheme="imagegroupview"/>
            </intent-filter>
        </activity>
    </application>

</manifest>